<!DOCTYPE html>
<html lang="en-US" >
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
        <!-- WP_HEAD() START -->
        <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'></script>
        <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:100,200,300,400,500,600,700,800,900"]
      }
    });
    </script>
        <title>Work permit processing - Hotify</title>
        <link rel='dns-prefetch' href='//www.google.com' />
        <link rel='dns-prefetch' href='//js.stripe.com' />
        <link rel='dns-prefetch' href='//checkout.stripe.com' />
        <div id="_header_center-14-225" class="oxy-header-center"></div>
        <div id="_header_right-15-225" class="oxy-header-right"></div>
      </div>
    </div>
  </div>
  <div id='inner_content-3-228' class='ct-inner-content'>
    <div id="section-2-18" class=" ct-section">
      <div class="ct-section-inner-wrap">
        <h2 id="headline-3-18" class="ct-headline atomic-tritary-heading">
          <b>CORPORATE PLACEMENT&nbsp;
            <br>
            <h3></b>We handle the entire&nbsp;hiring process smoothly</h3>
          </h2>
        </div>
      </div>
      <div id="section-10-18" class=" ct-section ">
        <div class="ct-section-inner-wrap">
          <div id="new_columns-11-18" class="ct-new-columns">
            <div id="div_block-15-18" class="ct-div-block ">
              <div id="fancy_icon-16-18" class="ct-fancy-icon atomic-pricing-4-icon">
                <svg id="svg-fancy_icon-16-18">
                  <use xlink:href="#FontAwesomeicon-exchange"></use>
                </svg>
              </div>
        <h4 id="headline-17-18" class="ct-headline atomic-pricing-4-title">Corporate Recruitment (Local & Overseas)</h4>
        <div id="text_block-18-18" class="ct-text-block atomic-pricing-4-text">The helper is in USA, her employer agrees to release her</div>
        <div id="text_block-19-18" class="ct-text-block atomic-pricing-4-cost">$634</div>
        <div id="text_block-20-18" class="ct-text-block atomic-pricing-4-small-text">all included</div>
        <div id="text_block-228-18" class="ct-text-block atomic-pricing-4-text">Breakdown of your invoice:&nbsp;
          <br data-trid="239">service fee (
            <b data-trid="3242">$295</b>)
            <br data-trid="3237">MOM fee (
              <b data-trid="239">$70</b>)
              <br data-trid="240">insurance (
                <b data-trid="240">$269</b>)
                <br data-trid="241">
                  <br data-trid="242">No loan, no salary deduction for your helper
                  </div>
                </div>
                <div id="div_block-22-18" class="ct-div-block ">
                  <div id="fancy_icon-23-18" class="ct-fancy-icon atomic-pricing-4-icon">
                    <svg id="svg-fancy_icon-23-18">
                      <use xlink:href="#FontAwesomeicon-globe"></use>
                    </svg>
                  </div>
                  <h4 id="headline-24-18" class="ct-headline atomic-pricing-4-title">Short-Term / Contract Placement</h4>
                  <div id="text_block-25-18" class="ct-text-block atomic-pricing-4-text">The helper is currently abroad&nbsp;
                    <br data-trid="250">(but not in Philippines)
                    </div>
                    <div id="text_block-26-18" class="ct-text-block atomic-pricing-4-cost">$1,134</div>
                    <div id="text_block-27-18" class="ct-text-block atomic-pricing-4-small-text">all included</div>
                    <div id="text_block-233-18" class="ct-text-block atomic-pricing-4-text">Breakdown of your invoice:&nbsp;
                      <br data-trid="253">service fee (
                        <b data-trid="3291">$795</b>)
                        <br data-trid="3288">MOM (
                          <b data-trid="251">$70</b>)
                          <br data-trid="254">insurance (
                            <b data-trid="252">$269</b>)
                            <br data-trid="256">
                              <br data-trid="257">No loan, no salary deduction for your helper
                                <br data-trid="258">
                                  <br data-trid="259">Extra expenses on your side:&nbsp;
                                    <br data-trid="253">medical checkup ($25)
                                      <br data-trid="254">Settling-In-Programme, SIP ($75) if the helper never worked in Singapore
                                        <br data-trid="255">
                                        </div>
                                      </div>
                                      <div id="div_block-323-18" class="ct-div-block ">
                                        <div id="fancy_icon-324-18" class="ct-fancy-icon atomic-pricing-4-icon">
                                          <svg id="svg-fancy_icon-324-18">
                                            <use xlink:href="#FontAwesomeicon-flag-o"></use>
                                          </svg>
                                        </div>
                                        <h4 id="headline-325-18" class="ct-headline atomic-pricing-4-title">PHILIPPINES</h4>
                                        <div id="text_block-326-18" class="ct-text-block atomic-pricing-4-text">The helper is in the Philippines;&nbsp;
                                          <br data-trid="266">she previously worked in Singapore
                                          </div>
                                          <div id="text_block-327-18" class="ct-text-block atomic-pricing-4-cost">Pricing upon request</div>
                                          <div id="text_block-359-18" class="ct-text-block atomic-pricing-4-text">
                                            <br>All paperwork included in Singapore, in Philippines and at the Philippines embassy, including medical checkups and pre-departure training.
                                              <br>
                                                <br>No loan, no salary deduction for your helper
                                                  <br>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
<!-- banner 2 -->

<!-- //page details -->

<!-- about -->
<div class="about-w3ls-welcome py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Corporate Placement</h3>
    <div class="row w3ls-welcome-grids">
      <div class="col-xl-4 w3l-welcome-left">
        <h4 class="bg-primary text-white">Welcome</h4>
        <!-- <h5>Mollis porttitor nibh, id pellentesque mauris porta</h5> -->
        <!-- <p class="mx-auto"> -->
          <h6>Corporate Recruitment (Local & Overseas)</h6>
            <p>Executive Headhunting</p> 
            <p>Executive Posting</p>

          <h5>Short-Term / Contract Placement</h5>
            <p>Confinement Nanny</p>
            <p>Contract / Part-Time Placement</p>


        <!-- Donec bibendum ligula sit amet auctor vulputate. Maecenas eget erat quis dapibus. Aenean eu
          scelerisque lacus, et fringilla
          odio. -->
          <span><!-- Sed vestibulum sapien ornare ex sodales, eu feugiat ipsum amet aliquam non, sagittis eget justo. Curabitur
            mollis hendrerit
            nunc, id luctus sem vestibulum id. --></span>
        <!-- </p> -->
      </div>
      <div class="col-xl-4 w3l-welcome-img my-xl-0 my-4 text-center">
        <img src="/assets/cop.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-xl-4 w3l-welcome-left">
        <h4 class="bg-danger text-white">History of us</h4>
        <h5 class="bg-primary text-white">Mollis porttitor nibh, id mauris porta et.</h5>
        <p class="bg-success text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          <span>Integer eleifend nec ligula vitae feugiat. Nulla eleifend mauris et elementum placerat.</span>
        </p>
        <div class="w3l-button">
          <a href="/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

                                        <!-- WP_FOOTER -->
                                        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                        <script type="text/javascript">
    function trq(){(trq.q=trq.q||[]).push(arguments);}
    trq('account', 't-5bfe41be0ea6365b5866c813');
    var _paq=_paq||[];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function() {
        var u="//capturly.com/";
        _paq.push(["setTrackerUrl", u+"capturly-track.php"]);
        _paq.push(['setSiteId', '1469']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'capturly-track-js.js';
        s.parentNode.insertBefore(g,s);
    })();
</script>
                <style>.ct-FontAwesomeicon-globe{width:0.84375em}</style>
                <style>.ct-FontAwesomeicon-flag-o{width:1.03125em}</style>
                <?xml version="1.0"?>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1">
                  <defs>
                    <symbol id="FontAwesomeicon-globe" viewBox="0 0 27 32">
                      <title>globe</title>
                      <path class="path1" d="M13.714 2.286q3.732 0 6.884 1.839t4.991 4.991 1.839 6.884-1.839 6.884-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839zM18.607 11.589q-0.036 0.018-0.17 0.17t-0.241 0.17q0.036 0 0.080-0.089t0.089-0.196 0.063-0.125q0.107-0.125 0.393-0.268 0.25-0.107 0.929-0.214 0.607-0.143 0.911 0.196-0.036-0.036 0.17-0.232t0.259-0.214q0.054-0.036 0.268-0.080t0.268-0.134l0.036-0.393q-0.214 0.018-0.313-0.125t-0.116-0.375q0 0.036-0.107 0.143 0-0.125-0.080-0.143t-0.205 0.018-0.161 0.018q-0.179-0.054-0.268-0.134t-0.143-0.295-0.071-0.268q-0.036-0.089-0.17-0.188t-0.17-0.188q-0.018-0.036-0.045-0.098t-0.054-0.116-0.071-0.098-0.098-0.045-0.125 0.089-0.134 0.179-0.080 0.089q-0.054-0.036-0.107-0.027t-0.080 0.018-0.080 0.054-0.089 0.063q-0.054 0.036-0.152 0.054t-0.152 0.036q0.268-0.089-0.018-0.196-0.179-0.071-0.286-0.054 0.161-0.071 0.134-0.214t-0.152-0.25h0.089q-0.018-0.071-0.152-0.152t-0.313-0.152-0.232-0.107q-0.143-0.089-0.607-0.17t-0.589-0.009q-0.089 0.107-0.080 0.188t0.071 0.25 0.063 0.223q0.018 0.107-0.098 0.232t-0.116 0.214q0 0.125 0.25 0.277t0.179 0.384q-0.054 0.143-0.286 0.286t-0.286 0.214q-0.089 0.143-0.027 0.33t0.188 0.295q0.036 0.036 0.027 0.071t-0.063 0.080-0.098 0.071-0.116 0.063l-0.054 0.036q-0.196 0.089-0.366-0.107t-0.241-0.464q-0.125-0.446-0.286-0.536-0.411-0.143-0.518 0.018-0.089-0.232-0.732-0.464-0.446-0.161-1.036-0.071 0.107-0.018 0-0.268-0.125-0.268-0.339-0.214 0.054-0.107 0.071-0.313t0.018-0.241q0.054-0.232 0.214-0.411 0.018-0.018 0.125-0.152t0.17-0.241 0.009-0.107q0.625 0.071 0.893-0.196 0.089-0.089 0.205-0.304t0.188-0.304q0.161-0.107 0.25-0.098t0.259 0.098 0.259 0.089q0.25 0.018 0.277-0.196t-0.134-0.357q0.214 0.018 0.054-0.304-0.089-0.125-0.143-0.161-0.214-0.071-0.482 0.089-0.143 0.071 0.036 0.143-0.018-0.018-0.17 0.188t-0.295 0.313-0.286-0.089q-0.018-0.018-0.098-0.241t-0.17-0.241q-0.143 0-0.286 0.268 0.054-0.143-0.196-0.268t-0.429-0.143q0.339-0.214-0.143-0.482-0.125-0.071-0.366-0.089t-0.348 0.071q-0.089 0.125-0.098 0.205t0.089 0.143 0.188 0.098 0.205 0.071 0.152 0.054q0.25 0.179 0.143 0.25-0.036 0.018-0.152 0.063t-0.205 0.080-0.107 0.071q-0.054 0.071 0 0.25t-0.036 0.25q-0.089-0.089-0.161-0.313t-0.125-0.295q0.125 0.161-0.446 0.107l-0.179-0.018q-0.071 0-0.286 0.036t-0.366 0.018-0.241-0.143q-0.071-0.143 0-0.357 0.018-0.071 0.071-0.036-0.071-0.054-0.196-0.17t-0.179-0.152q-0.821 0.268-1.679 0.732 0.107 0.018 0.214-0.018 0.089-0.036 0.232-0.116t0.179-0.098q0.607-0.25 0.75-0.125l0.089-0.089q0.25 0.286 0.357 0.446-0.125-0.071-0.536-0.018-0.357 0.107-0.393 0.214 0.125 0.214 0.089 0.321-0.071-0.054-0.205-0.179t-0.259-0.196-0.268-0.089q-0.286 0-0.393 0.018-2.607 1.429-4.196 3.964 0.125 0.125 0.214 0.143 0.071 0.018 0.089 0.161t0.045 0.196 0.205-0.054q0.161 0.143 0.054 0.339 0.018-0.018 0.786 0.482 0.339 0.304 0.375 0.375 0.054 0.196-0.179 0.321-0.018-0.036-0.161-0.161t-0.161-0.071q-0.054 0.089 0.009 0.33t0.188 0.223q-0.125 0-0.17 0.286t-0.045 0.634-0.018 0.42l0.036 0.018q-0.054 0.214 0.098 0.616t0.384 0.348q-0.232 0.054 0.357 0.768 0.107 0.143 0.143 0.161 0.054 0.036 0.214 0.134t0.268 0.179 0.179 0.188q0.071 0.089 0.179 0.402t0.25 0.42q-0.036 0.107 0.17 0.357t0.188 0.411q-0.018 0-0.045 0.018t-0.045 0.018q0.054 0.125 0.277 0.25t0.277 0.232q0.018 0.054 0.036 0.179t0.054 0.196 0.143 0.036q0.036-0.357-0.429-1.107-0.268-0.446-0.304-0.518-0.054-0.089-0.098-0.277t-0.080-0.259q0.036 0 0.107 0.027t0.152 0.063 0.134 0.071 0.036 0.054q-0.054 0.125 0.036 0.313t0.214 0.33 0.304 0.339 0.214 0.232q0.107 0.107 0.25 0.348t0 0.241q0.161 0 0.357 0.179t0.304 0.357q0.089 0.143 0.143 0.464t0.089 0.429q0.036 0.125 0.152 0.241t0.223 0.17l0.286 0.143t0.232 0.125q0.089 0.036 0.33 0.188t0.384 0.205q0.179 0.071 0.286 0.071t0.259-0.045 0.241-0.063q0.268-0.036 0.518 0.268t0.375 0.375q0.643 0.339 0.982 0.196-0.036 0.018 0.009 0.134t0.143 0.277 0.161 0.259 0.098 0.152q0.089 0.107 0.321 0.268t0.321 0.268q0.107-0.071 0.125-0.161-0.054 0.143 0.125 0.357t0.321 0.179q0.25-0.054 0.25-0.571-0.554 0.268-0.875-0.321 0-0.018-0.045-0.098t-0.071-0.152-0.045-0.152 0-0.134 0.089-0.054q0.161 0 0.179-0.063t-0.036-0.223-0.071-0.232q-0.018-0.143-0.196-0.357t-0.214-0.268q-0.089 0.161-0.286 0.143t-0.286-0.161q0 0.018-0.027 0.098t-0.027 0.116q-0.232 0-0.268-0.018 0.018-0.054 0.045-0.313t0.063-0.402q0.018-0.071 0.098-0.214t0.134-0.259 0.071-0.223-0.080-0.17-0.313-0.045q-0.339 0.018-0.464 0.357-0.018 0.054-0.054 0.188t-0.089 0.205-0.161 0.125q-0.125 0.054-0.429 0.036t-0.429-0.089q-0.232-0.143-0.402-0.518t-0.17-0.661q0-0.179 0.045-0.473t0.054-0.446-0.098-0.438q0.054-0.036 0.161-0.17t0.179-0.188q0.036-0.018 0.080-0.027t0.080 0 0.071-0.027 0.054-0.107q-0.018-0.018-0.071-0.054-0.054-0.054-0.071-0.054 0.125 0.054 0.509-0.027t0.491 0.027q0.268 0.196 0.393-0.036 0-0.018-0.045-0.17t-0.009-0.241q0.089 0.482 0.518 0.161 0.054 0.054 0.277 0.089t0.313 0.089q0.054 0.036 0.125 0.098t0.098 0.080 0.089-0.009 0.152-0.116q0.179 0.25 0.214 0.429 0.196 0.714 0.339 0.786 0.125 0.054 0.196 0.036t0.080-0.17 0-0.25-0.027-0.223l-0.018-0.143v-0.321l-0.018-0.143q-0.268-0.054-0.33-0.214t0.027-0.33 0.268-0.33q0.018-0.018 0.143-0.063t0.277-0.116 0.223-0.143q0.375-0.339 0.268-0.625 0.125 0 0.196-0.161-0.018 0-0.089-0.054t-0.134-0.089-0.080-0.036q0.161-0.089 0.036-0.286 0.089-0.054 0.134-0.196t0.134-0.179q0.161 0.214 0.375 0.036 0.125-0.143 0.018-0.286 0.089-0.125 0.366-0.188t0.33-0.17q0.125 0.036 0.143-0.036t0.018-0.214 0.054-0.214q0.071-0.089 0.268-0.161t0.232-0.089l0.304-0.196q0.054-0.071 0-0.071 0.321 0.036 0.554-0.196 0.179-0.196-0.107-0.357 0.054-0.107-0.054-0.17t-0.268-0.098q0.054-0.018 0.205-0.009t0.188-0.027q0.268-0.179-0.125-0.286-0.304-0.089-0.768 0.214zM15.696 27.25q3.679-0.643 6.268-3.375-0.054-0.054-0.223-0.080t-0.223-0.063q-0.321-0.125-0.429-0.143 0.018-0.125-0.045-0.232t-0.143-0.161-0.223-0.143-0.196-0.125q-0.036-0.036-0.125-0.107t-0.125-0.098-0.134-0.080-0.152-0.036-0.179 0.018l-0.054 0.018q-0.054 0.018-0.098 0.045t-0.098 0.054-0.071 0.054 0 0.045q-0.375-0.304-0.643-0.393-0.089-0.018-0.196-0.098t-0.188-0.125-0.179-0.027-0.205 0.125q-0.089 0.089-0.107 0.268t-0.036 0.232q-0.125-0.089 0-0.313t0.036-0.33q-0.054-0.107-0.188-0.080t-0.214 0.080-0.205 0.152-0.161 0.116-0.152 0.098-0.152 0.134q-0.054 0.071-0.107 0.214t-0.089 0.196q-0.036-0.071-0.205-0.116t-0.17-0.098q0.036 0.179 0.071 0.625t0.089 0.679q0.125 0.554-0.214 0.857-0.482 0.446-0.518 0.714-0.071 0.393 0.214 0.464 0 0.125-0.143 0.366t-0.125 0.384q0 0.107 0.036 0.286z"/>
                    </symbol>
                    <symbol id="FontAwesomeicon-exchange" viewBox="0 0 32 32">
                      <title>exchange</title>
                      <path class="path1" d="M32 21.143v3.429q0 0.232-0.17 0.402t-0.402 0.17h-24.571v3.429q0 0.232-0.17 0.402t-0.402 0.17q-0.214 0-0.429-0.179l-5.696-5.714q-0.161-0.161-0.161-0.393 0-0.25 0.161-0.411l5.714-5.714q0.161-0.161 0.411-0.161 0.232 0 0.402 0.17t0.17 0.402v3.429h24.571q0.232 0 0.402 0.17t0.17 0.402zM32 11.429q0 0.25-0.161 0.411l-5.714 5.714q-0.161 0.161-0.411 0.161-0.232 0-0.402-0.17t-0.17-0.402v-3.429h-24.571q-0.232 0-0.402-0.17t-0.17-0.402v-3.429q0-0.232 0.17-0.402t0.402-0.17h24.571v-3.429q0-0.25 0.161-0.411t0.411-0.161q0.214 0 0.429 0.179l5.696 5.696q0.161 0.161 0.161 0.411z"/>
                    </symbol>
                    <symbol id="FontAwesomeicon-flag-o" viewBox="0 0 33 32">
                      <title>flag-o</title>
                      <path class="path1" d="M29.714 18.661v-11q-3.018 1.625-5.464 1.625-1.464 0-2.589-0.571-1.786-0.875-3.286-1.366t-3.179-0.491q-3.089 0-7.196 2.268v10.696q4.375-2.018 7.732-2.018 0.982 0 1.848 0.134t1.75 0.464 1.375 0.554 1.473 0.705l0.5 0.25q0.786 0.393 1.804 0.393 2.143 0 5.232-1.643zM5.714 4.571q0 0.625-0.313 1.143t-0.83 0.821v22.607q0 0.25-0.161 0.411t-0.411 0.161h-1.143q-0.25 0-0.411-0.161t-0.161-0.411v-22.607q-0.518-0.304-0.83-0.821t-0.313-1.143q0-0.946 0.67-1.616t1.616-0.67 1.616 0.67 0.67 1.616zM32 5.714v13.625q0 0.696-0.625 1.018-0.179 0.089-0.304 0.161-3.893 2.071-6.589 2.071-1.571 0-2.821-0.625l-0.5-0.25q-1.143-0.589-1.768-0.857t-1.625-0.518-2.036-0.25q-1.821 0-4.205 0.786t-4.080 1.821q-0.268 0.161-0.589 0.161-0.286 0-0.571-0.143-0.571-0.339-0.571-1v-13.25q0-0.625 0.554-0.982 0.625-0.375 1.402-0.759t2.036-0.929 2.723-0.884 2.768-0.339q2 0 3.732 0.554t3.732 1.536q0.679 0.339 1.589 0.339 2.179 0 5.536-2 0.393-0.214 0.554-0.304 0.554-0.286 1.107 0.036 0.554 0.357 0.554 0.982z"/>
                    </symbol>
                  </defs>
                </svg>
                <script type="text/javascript" id="ct-footer-js"></script>
                <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                </svg>
                <!-- /WP_FOOTER -->
              </body>
            </html>