<!DOCTYPE html>
<html lang="en-US" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<!-- WP_HEAD() START -->

		
		<title>Hotify</title>
<link rel='dns-prefetch' href='//www.google.com' />
<link rel='dns-prefetch' href='//js.stripe.com' />
<link rel='dns-prefetch' href='//checkout.stripe.com' />

<script type='text/javascript' src='https://js.stripe.com/v2/?ver=5.2.3'></script>
<script type='text/javascript' src='https://checkout.stripe.com/checkout.js?ver=5.2.3'></script>
<link rel='https://api.w.org/' href='https://wearecaring.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://wearecaring.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://wearecaring.com/wp-includes/wlwmanifest.xml" /> 

</head>
<body >
	<%#= render 'layouts/header' %>
	<div id='inner_content-19-225' class='ct-inner-content'>
			<div id="section-171-14" class=" ct-section">
				<div class="ct-section-inner-wrap">
					<h1 id="headline-173-14" class="ct-headline atomic-primary-heading">
					IT'S TIME. HAPPY WORK.<br>HIRE A HELPER
					</h1>
				<div id="div_block-175-14" class="ct-div-block ">
					<!-- <a id="link_text-176-14" class="ct-link-text atomic-primary-button" href="#" target="_self">
					SEE AVAILABLE HELPERS
				</a> -->
				<a id="link_text-192-14" class="ct-link-text atomic-primary-button" href="/" target="_self">
				EXPLORE</a>
			</div>
		</div>
	</div>
	<div id="section-211-14" class=" ct-section">
		<div class="ct-section-inner-wrap">
			<h1 id="headline-212-14" class="ct-headline atomic-secondary-heading">How It Works</h1>
			<div id="new_columns-213-14" class="ct-new-columns">
				<div id="div_block-214-14" class="ct-div-block atomic-iconblock-13-column">
					<h4 id="headline-216-14" class="ct-headline atomic-iconblock-13-title">1. Shortlist candidates and contact them directly</h4>
					<div id="text_block-217-14" class="ct-text-block atomic-iconblock-13-text">
						<div style="text-align: center;" data-trid="3288">Discover videos, employment history, reference letters. Go Premium to get access to all phone numbers.</div>
					</div>
					<img id="image-226-14" alt="" src="/assets/short.jpg"/>
				</div>
				<div id="div_block-218-14" class="ct-div-block atomic-iconblock-13-column">
					<h4 id="headline-220-14" class="ct-headline atomic-iconblock-13-title">2. Meet in person and agree on the job conditions</h4>
					<div id="text_block-221-14" class="ct-text-block atomic-iconblock-13-text">Schedule interviews at your convenience, at your place, at our agency or anywhere else. Negotiate the salary directly with the helper.&nbsp;</div>
					<img id="image-229-14" alt="" src="/assets/handshake.jpg" class="ct-image"/>
				</div>
				<div id="div_block-222-14" class="ct-div-block atomic-iconblock-13-column">
					<h4 id="headline-224-14" class="ct-headline atomic-iconblock-13-title">3. Hire in a breeze, we handle the entire process online</h4>
					<div id="text_block-225-14" class="ct-text-block atomic-iconblock-13-text">You can relax at home and enjoy electronic signature, we take care of everything on your behalf</div>
					<img id="image-231-14" alt="" src="/assets/notify.jpg" class="ct-image"/>
				</div>
			</div>
		</div>
	</div>
	<div id="section-91-14" class=" ct-section">
		<div class="ct-section-inner-wrap">
			<h1 id="headline-92-14" class="ct-headline atomic-secondary-heading">We deliver a 1st-class experience</h1>
			<div id="new_columns-94-14" class="ct-new-columns">
				<div id="div_block-95-14" class="ct-div-block atomic-iconblock-13-column">
					<div id="fancy_icon-96-14" class="ct-fancy-icon atomic-iconblock-13-icon">
						<svg id="svg-fancy_icon-96-14">
							<use xlink:href="#FontAwesomeicon-thumbs-up">
								
							</use>
						</svg>
					</div>
					<h4 id="headline-97-14" class="ct-headline atomic-iconblock-13-title">CONVENIENT &amp; FAST</h4>
					<div id="text_block-98-14" class="ct-text-block atomic-iconblock-13-text">We ease your search by providing better screening and insights, and using electronic signatures for all documents.</div>
				</div>
				<div id="div_block-99-14" class="ct-div-block atomic-iconblock-13-column">
					<div id="fancy_icon-100-14" class="ct-fancy-icon atomic-iconblock-13-icon">
						<svg id="svg-fancy_icon-100-14">
							<use xlink:href="#FontAwesomeicon-balance-scale">
								
							</use>
						</svg>
						</div>
						<h4 id="headline-101-14" class="ct-headline atomic-iconblock-13-title">FAIR &amp; TRANSPARENT</h4>
						<div id="text_block-102-14" class="ct-text-block atomic-iconblock-13-text">No loan or salary deduction. We make it fair for helpers and for you.</div>
					</div>
					<div id="div_block-103-14" class="ct-div-block atomic-iconblock-13-column">
						<div id="fancy_icon-104-14" class="ct-fancy-icon atomic-iconblock-13-icon">
							<svg id="svg-fancy_icon-104-14">
								<use xlink:href="#FontAwesomeicon-star">
								</use>
							</svg>
						</div>
						<h4 id="headline-105-14" class="ct-headline atomic-iconblock-13-title">GREAT CUSTOMER SERVICE</h4>
						<div id="text_block-106-14" class="ct-text-block atomic-iconblock-13-text">We keep you informed at every steps and are always here to help, before and after the hire.</div>
					</div>
				</div>
			</div>
		</div>
		<div id="section-116-14" class=" ct-section">
			<div class="ct-section-inner-wrap">
				<div id="new_columns-117-14" class="ct-new-columns">
					<div id="div_block-118-14" class="ct-div-block">
						<h2 id="headline-119-14" class="ct-headline atomic-secondary-heading">#1 in Customer service on Ministry of Manpower's rating system.</h2>
						<div id="text_block-120-14" class="ct-text-block atomic-subheading">Best Customer service among the Top.100 employment agencies</div>
						<div id="text_block-123-14" class="ct-text-block atomic-iconblock-19-text">Hotify rating is the most objective and reliable evaluation of the quality of the customer service.<br>
							<br>It is a great boost for us to be continuously ranked #1 among the Top.100 agencies - and we are working hard to keep improving our service for all our customers.</div>
							<a id="link_text-107-14" class="ct-link-text atomic-medium-button-outline" href="#" target="_self">LEARN MORE ABOUT US</a>
						</div>
						<div id="div_block-128-14" class="ct-div-block">
							<img id="image-129-14" alt="" src="/assets/team-201.jpg" class="ct-image"/>
						</div>
					</div>
				</div>
			</div>
			<div id="section-159-14" class=" ct-section">
				<div class="ct-section-inner-wrap">
					<h1 id="headline-160-14" class="ct-headline atomic-secondary-heading">Ethical hiring works best</h1>
					<div id="text_block-145-14" class="ct-text-block atomic-subheading">
						<div style="text-align: center;">You can finally hire your helper without paying any loan or placement fee.&nbsp;
						</div>
					</div>
					<img id="image-210-14" alt="" src="/assets/logo11.jpg" class="ct-image"/>
				</div>
			</div>
			<div id="new_columns-162-14" class="ct-new-columns">
				<div id="div_block-163-14" class="ct-div-block atomic-iconblock-13-column">
					<div id="fancy_icon-164-14" class="ct-fancy-icon atomic-iconblock-13-icon">
						<svg id="svg-fancy_icon-164-14">
							<use xlink:href="#FontAwesomeicon-dollar">
								
							</use>
						</svg>
					</div>
					<h4 id="headline-165-14" class="ct-headline atomic-iconblock-13-title">SAVE MONEY</h4>
					<div id="text_block-166-14" class="ct-text-block atomic-iconblock-13-text">Salary deductions are a pain for helpers, and a burden for employers. It is now a thing of the past!</div>
				</div>
				<div id="div_block-167-14" class="ct-div-block atomic-iconblock-13-column">
					<div id="fancy_icon-168-14" class="ct-fancy-icon atomic-iconblock-13-icon">
						<svg id="svg-fancy_icon-168-14">
							<use xlink:href="#FontAwesomeicon-leaf">
								
							</use>
						</svg>
					</div>
					<h4 id="headline-169-14" class="ct-headline atomic-iconblock-13-title">BETTER RETENTION RATE</h4>
					<div id="text_block-170-14" class="ct-text-block atomic-iconblock-13-text">The first months of a job are critical. We achieve a superior retention rate thanks to this debt-free model</div>
				</div>
			</div>
			<div id="section-178-14" class=" ct-section">
				<div class="ct-section-inner-wrap">
					<h2 id="headline-179-14" class="ct-headline atomic-secondary-heading">Recent Posts</h2>        
                <div id="_posts_grid-181-14" class='oxy-easy-posts oxy-posts-grid'>
                    <div class='oxy-posts'>
                 <a class='oxy-post' href='/'>
  <div class='oxy-post-padding'>
    <div class='oxy-post-image'>
      <div class='oxy-post-image-fixed-ratio' style='background-image: url(/assets/businessman-carrying-a-load-of-cash-vector.jpg);'>
      </div>            
	</div>
  
    <div class='oxy-post-overlay'>
      <h2 class='oxy-post-title'>How to deal with money lenders</h2>
    </div>
  </div>
</a> <a class='oxy-post' href='\'>
  <div class='oxy-post-padding'>
    <div class='oxy-post-image'>
      <div class='oxy-post-image-fixed-ratio' style='background-image: url(/assets/lappy.jpg);'>
      </div>            
	</div>
  
    <div class='oxy-post-overlay'>
      <h2 class='oxy-post-title'>Employer Orientation Programme (EOP): 3 tips to quickly pass it</h2>
    </div>
  </div>
</a> <a class='oxy-post' href='https://wearecaring.com/ntuc-income/'>
  <div class='oxy-post-padding'>
    <div class='oxy-post-image'>
      <div class='oxy-post-image-fixed-ratio' style='background-image: url(/assets/award.jpg);'>
      </div>            
	</div>
  
    <div class='oxy-post-overlay'>
      <h2 class='oxy-post-title'>We Are Caring awarded Top Producer Maid Agency by NTUC Income</h2>
   	</div>
  </div>
</a>
</div>
</div>
</div>
</div>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
    function trq(){(trq.q=trq.q||[]).push(arguments);}
    trq('account', 't-5bfe41be0ea6365b5866c813');
    var _paq=_paq||[];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function() {
        var u="//capturly.com/";
        _paq.push(["setTrackerUrl", u+"capturly-track.php"]);
        _paq.push(['setSiteId', '1469']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'capturly-track-js.js';
        s.parentNode.insertBefore(g,s);
    })();
</script><style>.ct-FontAwesomeicon-star{width:0.9375em}</style>
<style>.ct-FontAwesomeicon-dollar{width:0.5625em}</style>
<style>.ct-FontAwesomeicon-thumbs-up{width:0.90625em}</style>
<style>.ct-FontAwesomeicon-balance-scale{width:1.21875em}</style>
<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1">
	<defs>
		<symbol id="FontAwesomeicon-star" viewBox="0 0 30 32">
			<title>star</title>
			<path class="path1" d="M29.714 11.554q0 0.393-0.464 0.857l-6.482 6.321 1.536 8.929q0.018 0.125 0.018 0.357 0 0.375-0.188 0.634t-0.545 0.259q-0.339 0-0.714-0.214l-8.018-4.214-8.018 4.214q-0.393 0.214-0.714 0.214-0.375 0-0.563-0.259t-0.188-0.634q0-0.107 0.036-0.357l1.536-8.929-6.5-6.321q-0.446-0.482-0.446-0.857 0-0.661 1-0.821l8.964-1.304 4.018-8.125q0.339-0.732 0.875-0.732t0.875 0.732l4.018 8.125 8.964 1.304q1 0.161 1 0.821z"/>
		</symbol>
		<symbol id="FontAwesomeicon-leaf" viewBox="0 0 32 32">
			<title>leaf</title>
			<path class="path1" d="M22.857 12.571q0-0.464-0.339-0.804t-0.804-0.339q-3.071 0-5.679 0.884t-4.634 2.393-4.205 3.92q-0.339 0.375-0.339 0.804 0 0.464 0.339 0.804t0.804 0.339q0.429 0 0.804-0.339 0.482-0.429 1.321-1.268t1.196-1.179q2.446-2.214 4.795-3.143t5.598-0.929q0.464 0 0.804-0.339t0.339-0.804zM32 9.036q0 1.696-0.357 3.446-0.821 4-3.295 6.839t-6.384 4.786q-3.821 1.929-7.821 1.929-2.643 0-5.107-0.839-0.268-0.089-1.571-0.75t-1.714-0.661q-0.286 0-0.705 0.571t-0.804 1.25-0.938 1.25-1.071 0.571q-0.536 0-0.911-0.196t-0.554-0.429-0.482-0.75q-0.036-0.071-0.107-0.196t-0.098-0.179-0.054-0.17-0.027-0.241q0-0.625 0.554-1.313t1.214-1.17 1.214-1 0.554-0.857q0-0.071-0.25-0.679t-0.286-0.786q-0.161-0.911-0.161-1.857 0-2.054 0.777-3.929t2.125-3.295 3.045-2.482 3.643-1.705q0.982-0.321 2.589-0.455t3.205-0.161 3.188-0.107 2.92-0.429 2.027-1.009l0.527-0.527t0.527-0.5 0.482-0.357 0.652-0.286 0.777-0.080q0.696 0 1.259 0.821t0.848 2 0.429 2.214 0.143 1.714z"/>
		</symbol>
		<symbol id="FontAwesomeicon-dollar" viewBox="0 0 18 32">
			<title>dollar</title>
			<path class="path1" d="M17.464 21.161q0 2.732-1.777 4.705t-4.616 2.438v3.125q0 0.25-0.161 0.411t-0.411 0.161h-2.411q-0.232 0-0.402-0.17t-0.17-0.402v-3.125q-1.179-0.161-2.277-0.554t-1.813-0.795-1.321-0.857-0.83-0.67-0.313-0.321q-0.304-0.375-0.036-0.732l1.839-2.411q0.125-0.179 0.411-0.214 0.268-0.036 0.429 0.161l0.036 0.036q2.018 1.768 4.339 2.232 0.661 0.143 1.321 0.143 1.446 0 2.545-0.768t1.098-2.179q0-0.5-0.268-0.946t-0.598-0.75-1.045-0.67-1.179-0.571-1.429-0.58q-0.696-0.286-1.098-0.446t-1.098-0.473-1.116-0.554-1.009-0.634-0.955-0.759-0.777-0.875-0.634-1.036-0.375-1.188-0.152-1.393q0-2.464 1.75-4.321t4.554-2.393v-3.214q0-0.232 0.17-0.402t0.402-0.17h2.411q0.25 0 0.411 0.161t0.161 0.411v3.143q1.018 0.107 1.973 0.411t1.554 0.598 1.134 0.67 0.696 0.518 0.268 0.25q0.304 0.321 0.089 0.679l-1.446 2.607q-0.143 0.268-0.411 0.286-0.25 0.054-0.482-0.125-0.054-0.054-0.259-0.214t-0.696-0.473-1.045-0.571-1.33-0.464-1.527-0.205q-1.696 0-2.768 0.768t-1.071 1.982q0 0.464 0.152 0.857t0.527 0.741 0.705 0.589 1 0.554 1.080 0.482 1.25 0.491q0.946 0.357 1.446 0.563t1.357 0.625 1.348 0.759 1.107 0.893 0.946 1.134 0.563 1.366 0.232 1.679z"/>
		</symbol>
		<symbol id="FontAwesomeicon-thumbs-up" viewBox="0 0 29 32">
			<title>thumbs-up</title>
			<path class="path1" d="M4.571 24q0-0.464-0.339-0.804t-0.804-0.339q-0.482 0-0.813 0.339t-0.33 0.804q0 0.482 0.33 0.813t0.813 0.33q0.464 0 0.804-0.33t0.339-0.813zM7.429 14.857v11.429q0 0.464-0.339 0.804t-0.804 0.339h-5.143q-0.464 0-0.804-0.339t-0.339-0.804v-11.429q0-0.464 0.339-0.804t0.804-0.339h5.143q0.464 0 0.804 0.339t0.339 0.804zM28.571 14.857q0 1.536-0.982 2.661 0.268 0.786 0.268 1.357 0.054 1.357-0.768 2.446 0.304 1 0 2.089-0.268 1.018-0.964 1.679 0.161 2-0.875 3.232-1.143 1.357-3.518 1.393h-2.304q-1.179 0-2.571-0.277t-2.17-0.518-2.152-0.705q-2.196-0.768-2.821-0.786-0.464-0.018-0.804-0.348t-0.339-0.795v-11.446q0-0.446 0.321-0.777t0.768-0.366q0.429-0.036 1.357-1.054t1.804-2.161q1.214-1.554 1.804-2.143 0.321-0.321 0.554-0.857t0.313-0.866 0.241-1.080q0.125-0.696 0.223-1.089t0.348-0.929 0.607-0.893q0.339-0.339 0.804-0.339 0.821 0 1.473 0.188t1.071 0.464 0.714 0.723 0.429 0.804 0.214 0.893 0.089 0.804 0.009 0.696q0 0.679-0.17 1.357t-0.339 1.071-0.491 1q-0.054 0.107-0.179 0.321t-0.196 0.393-0.143 0.429h4.946q1.393 0 2.411 1.018t1.018 2.411z"/>
		</symbol>
		<symbol id="FontAwesomeicon-balance-scale" viewBox="0 0 39 32">
			<title>balance-scale</title>
			<path class="path1" d="M30.857 8l-6.857 12.571h13.714zM8 8l-6.857 12.571h13.714zM22.661 4.571q-0.25 0.714-0.813 1.277t-1.277 0.813v23.054h10.857q0.25 0 0.411 0.161t0.161 0.411v1.143q0 0.25-0.161 0.411t-0.411 0.161h-24q-0.25 0-0.411-0.161t-0.161-0.411v-1.143q0-0.25 0.161-0.411t0.411-0.161h10.857v-23.054q-0.714-0.25-1.277-0.813t-0.813-1.277h-8.768q-0.25 0-0.411-0.161t-0.161-0.411v-1.143q0-0.25 0.161-0.411t0.411-0.161h8.768q0.375-1.018 1.25-1.652t1.982-0.634 1.982 0.634 1.25 1.652h8.768q0.25 0 0.411 0.161t0.161 0.411v1.143q0 0.25-0.161 0.411t-0.411 0.161h-8.768zM19.429 4.857q0.589 0 1.009-0.42t0.42-1.009-0.42-1.009-1.009-0.42-1.009 0.42-0.42 1.009 0.42 1.009 1.009 0.42zM38.857 20.571q0 1.304-0.83 2.339t-2.098 1.625-2.58 0.884-2.491 0.295-2.491-0.295-2.58-0.884-2.098-1.625-0.83-2.339q0-0.196 0.625-1.446t1.643-3.116 1.911-3.491 1.821-3.286 1-1.786q0.321-0.589 1-0.589t1 0.589q0.071 0.125 1 1.786t1.821 3.286 1.911 3.491 1.643 3.116 0.625 1.446zM16 20.571q0 1.304-0.83 2.339t-2.098 1.625-2.58 0.884-2.491 0.295-2.491-0.295-2.58-0.884-2.098-1.625-0.83-2.339q0-0.196 0.625-1.446t1.643-3.116 1.911-3.491 1.821-3.286 1-1.786q0.321-0.589 1-0.589t1 0.589q0.071 0.125 1 1.786t1.821 3.286 1.911 3.491 1.643 3.116 0.625 1.446z"/>
		</symbol>
	</defs>
</svg>

	<%#= render 'layouts/footer' %>



	
<!-- /WP_FOOTER --> 
</body>
</html>