<!DOCTYPE html>
<html>
  <head>
    <title>Exodus</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="tlU4MGn9pGJTsyixix1MQobAUXx+h+UpPdjReqkJ4HLfDTifE/2DeYD8LQv/vuqdyIHR8/xQLX7c5x06TLGVRg==" />
    

    <link rel="stylesheet" media="all" href="/assets/application-7ed561fa5f66283ead930b17237901261569b728480155d68365780366ba5d17.css" data-turbolinks-track="reload" />
    <script src="/assets/application-48aacb37c8280115591fac4a2236d9e9d28306c17adb5f7fa3763acdf6680b8d.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
   <!-- //header -->

<style type="text/css">
	.brand span{
		color: #f4abab;
		padding: 9px;
	}
	.slogan{
		color: #fff;
		padding: 0 0 0 10px;
	}
</style>
    <!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<!-- <div class="breadcrumb-agile">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Our Services</li>
		</ol>
	</nav>
</div> -->
<!-- //page details -->

<!-- offers -->
<div class="offers-w3ls py-5">
	<div class="container py-xl-5 py-lg-3">
		<h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Our Services</h2>
		<div class="row">
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/pss.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
				<h4 class="mb-4 title-2-agiles">Renewal / Cancellation of Work Permit and/or Passport
					<!-- <span>$30</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
				<h4 class="mb-4 title-2-agiles">Work Permit, S Pass, Employment Pass Application
					<!-- <span>$40</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/Visa.jpg" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/Helth.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
				<h4 class="mb-4 title-2-agiles">Medical Insurance and Security Bond
					<!-- <span>$30</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
				<h4 class="mb-4 title-2-agiles">Arrangement for Medical Check Up
					<!-- <span>$20</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/medical-checkup.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/prapp.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
				<h4 class="mb-4 title-2-agiles">PR Application
					<!-- <span>$25</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
				<h4 class="mb-4 title-2-agiles">Air Ticketing
					<!-- <span>$20</span> -->
				</h4>
				<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="mt-4">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse
					cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
					Ut enim ad minim</p>
			</div>
			<div class="col-lg-6 offers-agiles-left">
				<img src="/assets/airtecket.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<!-- //offers -->


    <!-- footer -->

  </body>
</html>
