<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
		<!-- WP_HEAD() START -->
		<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'></script>
		<script type="text/javascript">
		WebFont.load({
			google: {
				families: ["Open Sans:100,200,300,400,500,600,700,800,900"]
			}
		});
		</script>
		<title>Release - Hotify</title>
		<link rel='dns-prefetch' href='//www.google.com' />
		<link rel='dns-prefetch' href='//js.stripe.com' />
		<link rel='dns-prefetch' href='//checkout.stripe.com' />
		<div id="_header_center-14-225" class="oxy-header-center"></div>
		<div id="_header_right-15-225" class="oxy-header-right"></div>
	</div>
</div></div><div id='inner_content-3-228' class='ct-inner-content'>
<div id="section-2-24" class=" ct-section">
	<div class="ct-section-inner-wrap">
		<h1 id="headline-3-24" class="ct-headline atomic-primary-heading">Allowing your helper to transfer?</h1>
		<a id="link_text-212-24" class="ct-link-text atomic-primary-button" href="/" target="_blank">SIGN ONLINE NOW</a>
		<!-- <div id="video-60-24" class="ct-video">
			<div class="oxygen-vsb-responsive-video-wrapper">
				<iframe src="https://player.vimeo.com/video/338068946" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div> -->
		<div id="text_block-4-24" class="ct-text-block atomic-subheading">Sign online the consent to transfer and stay in control of the transfer date. It's 
			<b data-trid="176">FREE</b>
		</div>
	</div>
</div>
<div id="section-142-24" class=" ct-section">
	<div class="ct-section-inner-wrap">
		<h2 id="headline-143-24" class="ct-headline atomic-secondary-heading">100% secured and compliant</h2>
		<div id="div_block-144-24" class="ct-div-block atomic-steps-1-wrapper">
			<div id="div_block-145-24" class="ct-div-block atomic-steps-1-digit-wrapper">
				<h4 id="headline-146-24" class="ct-headline atomic-steps-1-digit">1</h4>
				<div id="div_block-147-24" class="ct-div-block"></div>
			</div>
			<div id="div_block-148-24" class="ct-div-block atomic-steps-1-text-wrapper">
				<h4 id="headline-149-24" class="ct-headline atomic-steps-1-title">SIGN ONLINE NOW</h4>
				<div id="text_block-150-24" class="ct-text-block atomic-steps-1-text">You can sign electronically directly from your smartphone, tablet or computer. You don't need to print any document! And you choose the transfer date, so your helper will only get interviews with families according to your timing.</div>
			</div>
		</div>
		<div id="div_block-151-24" class="ct-div-block atomic-steps-1-wrapper">
			<div id="div_block-152-24" class="ct-div-block atomic-steps-1-digit-wrapper">
				<h4 id="headline-153-24" class="ct-headline atomic-steps-1-digit">2</h4>
				<div id="div_block-154-24" class="ct-div-block"></div>
			</div>
			<div id="div_block-155-24" class="ct-div-block atomic-steps-1-text-wrapper">
				<h4 id="headline-156-24" class="ct-headline atomic-steps-1-title">GET YOUR CERTIFIED COPY</h4>
				<div id="text_block-157-24" class="ct-text-block atomic-steps-1-text">We send you an email with the document in PDF so you always keep a copy.
					<br data-trid="3244">
					</div>
				</div>
			</div>
			<div id="div_block-158-24" class="ct-div-block atomic-steps-1-wrapper">
				<div id="div_block-159-24" class="ct-div-block atomic-steps-1-digit-wrapper">
					<h4 id="headline-160-24" class="ct-headline atomic-steps-1-digit">3</h4>
				</div>
				<div id="div_block-161-24" class="ct-div-block atomic-steps-1-text-wrapper">
					<h4 id="headline-162-24" class="ct-headline atomic-steps-1-title">YOUR HELPER IS ALLOWED TO GET INTERVIEWS WITH POTENTIAL EMPLOYERS</h4>
					<a id="link_text-66-24" class="ct-link-text atomic-primary-button" href="/" target="_blank">SIGN ONLINE NOW</a>
				</div>
			</div>
		</div>
	</div>
	<div id="section-74-24" class=" ct-section">
		<div class="ct-section-inner-wrap">
			<div id="fancy_icon-75-24" class="ct-fancy-icon">
				<svg id="svg-fancy_icon-75-24">
					<use xlink:href="#Lineariconsicon-question-circle"></use>
				</svg>
			</div>
			<h1 id="headline-76-24" class="ct-headline atomic-primary-heading">Frequently Asked Questions</h1>
		</div>
	</div>
	<div id="section-78-24" class=" ct-section">
		<div class="ct-section-inner-wrap">
			<div id="new_columns-80-24" class="ct-new-columns">
				<div id="div_block-82-24" class="ct-div-block atomic-iconblock-21-column">
					<div id="fancy_icon-83-24" class="ct-fancy-icon atomic-iconblock-21-icon">
						<svg id="svg-fancy_icon-83-24">
							<use xlink:href="#FontAwesomeicon-pencil"></use>
						</svg>
					</div>
					<h4 id="headline-84-24" class="ct-headline atomic-iconblock-21-title">Why do I have to sign a release paper?</h4>
					<div id="text_block-85-24" class="ct-text-block atomic-iconblock-21-text">We need to make sure that you are aware and agree with the fact that your helper is looking for a new employer. We can&nbsp;only validate your helper’s application once we receive the signed release paper. You can sign it online&nbsp;or your helper can pick up a hard copy from our office.
						<br>
							<br>
							</div>
						</div>
						<div id="div_block-89-24" class="ct-div-block atomic-iconblock-21-column">
							<div id="fancy_icon-90-24" class="ct-fancy-icon atomic-iconblock-21-icon">
								<svg id="svg-fancy_icon-90-24">
									<use xlink:href="#FontAwesomeicon-check-circle"></use>
								</svg>
							</div>
							<h4 id="headline-91-24" class="ct-headline atomic-iconblock-21-title">I am the current employer, do I have to pay anything?</h4>
							<div id="text_block-92-24" class="ct-text-block atomic-iconblock-21-text">No, it is free, you have nothing to pay.
								<br data-trid="3247">
								</div>
							</div>
							<div id="div_block-100-24" class="ct-div-block atomic-iconblock-21-column">
								<div id="fancy_icon-101-24" class="ct-fancy-icon atomic-iconblock-21-icon">
									<svg id="svg-fancy_icon-101-24">
										<use xlink:href="#FontAwesomeicon-check-circle"></use>
									</svg>
								</div>
								<h4 id="headline-102-24" class="ct-headline atomic-iconblock-21-title">Is it true that my helper will not pay any fee?</h4>
								<div id="text_block-103-24" class="ct-text-block atomic-iconblock-21-text">Yes, it is really free for your helper. We are happy to provide fair employment opportunities and we believe that it is the best way to ensure a good employment relationship.
									<br>
										<br>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="section-184-24" class=" ct-section">
							<div class="ct-section-inner-wrap">
								<div id="new_columns-185-24" class="ct-new-columns">
									<div id="div_block-186-24" class="ct-div-block atomic-iconblock-21-column">
										<div id="fancy_icon-190-24" class="ct-fancy-icon atomic-iconblock-21-icon">
											<svg id="svg-fancy_icon-190-24">
												<use xlink:href="#Lineariconsicon-apartment"></use>
											</svg>
										</div>
										<h4 id="headline-191-24" class="ct-headline atomic-iconblock-21-title">Are you licensed by the Ministry of Manpower (MOM)?</h4>
										<div id="text_block-192-24" class="ct-text-block atomic-iconblock-21-text">Yes, We Are Caring Pte Ltd is a reputable employment agency licensed by MOM (EA #15C7788). We handle more than 750 work permits per year.</div>
									</div>
									<div id="div_block-193-24" class="ct-div-block atomic-iconblock-21-column">
										<div id="fancy_icon-197-24" class="ct-fancy-icon atomic-iconblock-21-icon">
											<svg id="svg-fancy_icon-197-24">
												<use xlink:href="#FontAwesomeicon-calendar-o"></use>
											</svg>
										</div>
										<h4 id="headline-198-24" class="ct-headline atomic-iconblock-21-title">I don’t have an exact release date yet, what should I indicate as the transfer date?</h4>
										<div id="text_block-199-24" class="ct-text-block atomic-iconblock-21-text">You can indicate a tentative date that you are comfortable with. Should you want to change the date in the future, please contact, and we will do the necessary.</div>
									</div>
									<div id="div_block-200-24" class="ct-div-block atomic-iconblock-21-column">
										<div id="fancy_icon-204-24" class="ct-fancy-icon atomic-iconblock-21-icon">
											<svg id="svg-fancy_icon-204-24">
												<use xlink:href="#Lineariconsicon-apartment"></use>
											</svg>
										</div>
										<h4 id="headline-205-24" class="ct-headline atomic-iconblock-21-title">I prefer that my helper does not stay at my place, do you have a solution?</h4>
										<div id="text_block-206-24" class="ct-text-block atomic-iconblock-21-text">At the moment, we do not have a lodging place where your helper can stay temporarily.&nbsp;</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- WP_FOOTER -->
					<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
					<script type="text/javascript">
    function trq(){(trq.q=trq.q||[]).push(arguments);}
    trq('account', 't-5bfe41be0ea6365b5866c813');
    var _paq=_paq||[];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function() {
        var u="//capturly.com/";
        _paq.push(["setTrackerUrl", u+"capturly-track.php"]);
        _paq.push(['setSiteId', '1469']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'capturly-track-js.js';
        s.parentNode.insertBefore(g,s);
    })();
</script>
					<style>.ct-FontAwesomeicon-pencil{width:0.84375em}</style>
					<style>.ct-FontAwesomeicon-check-circle{width:0.84375em}</style>
					<style>.ct-FontAwesomeicon-calendar-o{width:0.9375em}</style>
					<?xml version="1.0"?>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1">
						<defs>
							<symbol id="FontAwesomeicon-pencil" viewBox="0 0 27 32">
								<title>pencil</title>
								<path class="path1" d="M6.482 27.429l1.625-1.625-4.196-4.196-1.625 1.625v1.911h2.286v2.286h1.911zM15.821 10.857q0-0.393-0.393-0.393-0.179 0-0.304 0.125l-9.679 9.679q-0.125 0.125-0.125 0.304 0 0.393 0.393 0.393 0.179 0 0.304-0.125l9.679-9.679q0.125-0.125 0.125-0.304zM14.857 7.429l7.429 7.429-14.857 14.857h-7.429v-7.429zM27.054 9.143q0 0.946-0.661 1.607l-2.964 2.964-7.429-7.429 2.964-2.946q0.643-0.679 1.607-0.679 0.946 0 1.625 0.679l4.196 4.179q0.661 0.696 0.661 1.625z"/>
							</symbol>
							<symbol id="FontAwesomeicon-check-circle" viewBox="0 0 27 32">
								<title>check-circle</title>
								<path class="path1" d="M22.929 13.107q0-0.5-0.321-0.821l-1.625-1.607q-0.339-0.339-0.804-0.339t-0.804 0.339l-7.286 7.268-4.036-4.036q-0.339-0.339-0.804-0.339t-0.804 0.339l-1.625 1.607q-0.321 0.321-0.321 0.821 0 0.482 0.321 0.804l6.464 6.464q0.339 0.339 0.804 0.339 0.482 0 0.821-0.339l9.696-9.696q0.321-0.321 0.321-0.804zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z"/>
							</symbol>
							<symbol id="FontAwesomeicon-calendar-o" viewBox="0 0 30 32">
								<title>calendar-o</title>
								<path class="path1" d="M2.286 29.714h25.143v-18.286h-25.143v18.286zM9.143 8v-5.143q0-0.25-0.161-0.411t-0.411-0.161h-1.143q-0.25 0-0.411 0.161t-0.161 0.411v5.143q0 0.25 0.161 0.411t0.411 0.161h1.143q0.25 0 0.411-0.161t0.161-0.411zM22.857 8v-5.143q0-0.25-0.161-0.411t-0.411-0.161h-1.143q-0.25 0-0.411 0.161t-0.161 0.411v5.143q0 0.25 0.161 0.411t0.411 0.161h1.143q0.25 0 0.411-0.161t0.161-0.411zM29.714 6.857v22.857q0 0.929-0.679 1.607t-1.607 0.679h-25.143q-0.929 0-1.607-0.679t-0.679-1.607v-22.857q0-0.929 0.679-1.607t1.607-0.679h2.286v-1.714q0-1.179 0.839-2.018t2.018-0.839h1.143q1.179 0 2.018 0.839t0.839 2.018v1.714h6.857v-1.714q0-1.179 0.839-2.018t2.018-0.839h1.143q1.179 0 2.018 0.839t0.839 2.018v1.714h2.286q0.929 0 1.607 0.679t0.679 1.607z"/>
							</symbol>
						</defs>
					</svg>
					<?xml version="1.0"?>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1">
						<defs>
							<symbol id="Lineariconsicon-apartment" viewBox="0 0 20 20">
								<title>apartment</title>
								<path class="path1" d="M14 6h1v1h-1v-1z"/>
								<path class="path2" d="M14 8h1v1h-1v-1z"/>
								<path class="path3" d="M14 10h1v1h-1v-1z"/>
								<path class="path4" d="M14 12h1v1h-1v-1z"/>
								<path class="path5" d="M14 16h1v1h-1v-1z"/>
								<path class="path6" d="M14 14h1v1h-1v-1z"/>
								<path class="path7" d="M6 6h1v1h-1v-1z"/>
								<path class="path8" d="M6 8h1v1h-1v-1z"/>
								<path class="path9" d="M6 10h1v1h-1v-1z"/>
								<path class="path10" d="M6 12h1v1h-1v-1z"/>
								<path class="path11" d="M6 16h1v1h-1v-1z"/>
								<path class="path12" d="M6 14h1v1h-1v-1z"/>
								<path class="path13" d="M4 6h1v1h-1v-1z"/>
								<path class="path14" d="M4 8h1v1h-1v-1z"/>
								<path class="path15" d="M4 10h1v1h-1v-1z"/>
								<path class="path16" d="M4 12h1v1h-1v-1z"/>
								<path class="path17" d="M4 16h1v1h-1v-1z"/>
								<path class="path18" d="M4 14h1v1h-1v-1z"/>
								<path class="path19" d="M8 6h1v1h-1v-1z"/>
								<path class="path20" d="M8 8h1v1h-1v-1z"/>
								<path class="path21" d="M8 10h1v1h-1v-1z"/>
								<path class="path22" d="M8 12h1v1h-1v-1z"/>
								<path class="path23" d="M8 16h1v1h-1v-1z"/>
								<path class="path24" d="M8 14h1v1h-1v-1z"/>
								<path class="path25" d="M18.5 19h-0.5v-13.5c0-0.763-0.567-1.549-1.291-1.791l-4.709-1.57v-1.64c0-0.158-0.075-0.307-0.202-0.401s-0.291-0.123-0.442-0.078l-9.042 2.713c-0.737 0.221-1.314 0.997-1.314 1.766v14.5h-0.5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h18c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5zM16.393 4.658c0.318 0.106 0.607 0.507 0.607 0.842v13.5h-5v-15.806l4.393 1.464zM2 4.5c0-0.329 0.287-0.714 0.602-0.808l8.398-2.52v17.828h-9v-14.5z"/>
							</symbol>
							<symbol id="Lineariconsicon-question-circle" viewBox="0 0 20 20">
								<title>question-circle</title>
								<path class="path1" d="M16.218 3.782c-1.794-1.794-4.18-2.782-6.718-2.782s-4.923 0.988-6.718 2.782-2.782 4.18-2.782 6.717 0.988 4.923 2.782 6.718 4.18 2.782 6.718 2.782 4.923-0.988 6.718-2.782 2.782-4.18 2.782-6.718-0.988-4.923-2.782-6.717zM9.5 19c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5c4.687 0 8.5 3.813 8.5 8.5s-3.813 8.5-8.5 8.5z"/>
								<path class="path2" d="M9.5 15c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5 1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5-3.5 1.57-3.5 3.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-2.481 2.019-4.5 4.5-4.5s4.5 2.019 4.5 4.5c0 2.312-1.753 4.223-4 4.472v1.528c0 0.276-0.224 0.5-0.5 0.5z"/>
								<path class="path3" d="M9.5 18c-0 0 0 0 0 0-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5 0 0 0 0 0 0 0.276 0 0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z"/>
							</symbol>
						</defs>
					</svg>
					<script type="text/javascript" id="ct-footer-js"></script>
					<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs></defs>
					</svg>
					<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('body').on('click', '.oxy-menu-toggle', function() {
					jQuery(this).parent('.oxy-nav-menu').toggleClass('oxy-nav-menu-open');
					jQuery('body').toggleClass('oxy-nav-menu-prevent-overflow');
					jQuery('html').toggleClass('oxy-nav-menu-prevent-overflow');
				});
				var selector = '.oxy-nav-menu-open .menu-item a[href^="#"]';
				jQuery('body').on('click', selector, function(){
					jQuery('.oxy-nav-menu-open').removeClass('oxy-nav-menu-open');
					jQuery('body').removeClass('oxy-nav-menu-prevent-overflow');
					jQuery('html').removeClass('oxy-nav-menu-prevent-overflow');
					jQuery(this).click();
				});
			});
		</script>
					<!-- /WP_FOOTER -->
				</body>
			</html>