<footer id="sticky-footer" class="py-4 text-white-50">  
    <div id="section-20-225" class=" ct-section">
      <div class="ct-section-inner-wrap">

        
        <div id="new_columns-21-225" class="ct-new-columns">
          <div id="div_block-22-225" class="ct-div-block">        
              <!-- <h3 id="headline-23-225" class="ct-headline atomic-tritary-heading">Want to join our startup and make a positive impact?</h3><br>
                <a id="link_text-25-225" class="ct-link-text atomic-medium-button" href="#" target="_self">JOIN US</a> -->
                <marquee><%= image_tag("logo1111.png", {:style => "width:300px;"}) %></marquee>
          </div>          
        </div>
        <div id="div_block-47-225" class="ct-div-block">
          <div id="div_block-48-225" class="ct-div-block">
           <div id="text_block-49-225" class="ct-text-block atomic-footer-7-text">EXODUS is an employment agency &copy;</div>
            <a id="text_block-109-56706" class="ct-link-text atomic-footer-7-text" href="(+919876543210)" target="_blank">(+91) 9876543210</a>
            <a id="link_text-111-56706" class="ct-link-text atomic-footer-7-text" >Design by RyentSoft Pvt Ltd. &nbsp;&amp; &nbsp;Privacy policy &nbsp; </a>
          </div>
        </div>
      </div>
    </div>  <!-- WP_FOOTER -->
</footer>