<body class="home page-template-default page page-id-14 oxygen-body" >
	<div id="_header-2-225" class="oxy-header-wrapper oxy-header">
		<div id="_header_row-3-225" class="oxy-header-row">
			<div class="oxy-header-container">
				<div id="_header_left-4-225" class="oxy-header-left">
					<div id="_social_icons-5-225" class="oxy-social-icons">
						
					</div>
				</div>
				<div id="_header_center-6-225" class="oxy-header-center">
					
				</div>
				<div id="_header_right-7-225" class="oxy-header-right">
					
				</div>
			</div>
		</div>
		<div id="_header_row-10-225" class="oxy-header-row">
			<div class="oxy-header-container">
				<div id="_header_left-11-225" class="oxy-header-left">
				<!-- <nav class="navbar navbar-dark bg-primary"> -->
					
    
					
					
						<%= image_tag("logo1111.png", {:style => "width:200px;"}) %>
					
					
					<div id="_nav_menu-17-225" class="oxy-nav-menu oxy-nav-menu-dropdowns oxy-nav-menu-dropdown-arrow">
						
						<div class="menu-main-menu-container">
		
							<ul id="menu-main-menu" class="oxy-nav-menu-list">
								<li id="menu-item-64562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a href="/">Home</a>
											</li>
											<li id="menu-item-64562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a href="#">Helpers</a>
												<ul class="sub-menu">
														<li id="menu-item-67808" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67808"><a href="/assets/FDW Brochure - Final.pdf">All helpers</a></li>
														<li id="menu-item-67807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67807"><a href="#">My favorite helpers</a></li>
													</ul>
											</li>
													
					
								<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
									<a href="/home/corporate">CORPORATE PLACEMENT</a>
								</li>
								<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
									<a href="/home/release">Release Your Helper</a>
								</li>
								<li id="menu-item-57520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57520">
									<a href="/home/ourservices">Our Services</a>
								</li>
								<li id="menu-item-56741" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56741">
									<a href="/home/about">About</a>
								</li>
								<li id="menu-item-68456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68456">
									<a href="/home/contactus">Contact</a>
								</li>
								<!-- <li id="menu-item-57517" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57517">
									<a href=#>Login</a>
								</li> -->
								
     						</ul>
     	<!-- </nav> -->

		</div>
	</div>
	</div>
	<div id="_header_center-14-225" class="oxy-header-center">
		

	</div>
	<div id="_header_right-15-225" class="oxy-header-right">
		
	</div>
	 </div>
	</div>
	</div>
</body>
		